<h2>Welcome to Rock, Paper, Scissors!</h2>

<p>The (slightly fuzzy) rules are as follows:</p>
<div id="portrait">
  <img src="https://vignette4.wikia.nocookie.net/uncyclopedia/images/b/ba/Rock-paper-scissors.gif/revision/latest?cb=20090214144147" alt="Rules of RPS" class="round-border">
</div>

<p>To play, simply add "/playrps/" to the address bar up top, followed by a choice of rock, paper or scissors for each of 2 players, seperated by a "/".  eg, /playrps/rock/paper</p>
