html{
  color: #fff;
  background-color: #5DADE2;
  font-family: Oxygen, Arial, sans-serif;
  height:100%;
  width: 100%;
  text-align: center;
}

nav{
  text-align: center;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

div#portrait img {
  align: center;
  width: 350px;
}
